<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>Hello {{ auth.user.name }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h1>ID {{ auth.user.code }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn color="primary" @click="logout">Logout</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'
export default Vue.extend({
  computed: {
    ...mapState({
      auth: 'auth',
    }),
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
  },
})
</script>