<template>
  <v-form
    v-model="valid"
    @submit.prevent="userLogin"
    ref="form"
    lazy-validation
  >
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="login.username"
            label="Username"
            outlined
            type="'email'"
            :rules="rules.username"
            placeholder="Please input user name"
            clearable
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="login.password"
            label="Password"
            outlined
            :type="showPassword ? 'text' : 'password'"
            :rules="rules.password"
            clearable
            :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
            @click:append="toggleShowPassword"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn type="'submit'" color="primary" :disabled="!valid"
            ><v-icon>mdi-login</v-icon>Login</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  layout: 'plain',
  data(): DataModel {
    return {
      valid: false,
      showPassword: false,
      login: {
        username: '',
        password: '',
      },
      rules: {
        username: [
          (v: string) => !!v || 'user name is required',
          (v: string) => (!!v && v.indexOf('@') !== 0) || 'Should be email.',
        ],
        password: [
          (v: string) => !!v || 'password is required',
          (v: string) =>
            (!!v && v.length > 3) ||
            'password must be greater than 3 charactor',
        ],
      },
    }
  },

  methods: {
    async userLogin() {
      try {
        if (this.valid) {
          let response = await this.$auth.loginWith('local', {
            data: this.login,
          })
          if (response) this.$apolloHelpers.onLogin(response.data.token)
        }
      } catch (err) {
        console.log(err)
      }
    },

    toggleShowPassword() {
      this.showPassword = !this.showPassword
    },
  },
})

interface DataModel {
  valid: boolean
  showPassword: boolean
  login: UserModel
  rules: RulesModel
}

interface UserModel {
  username: string
  password: string
}

interface RulesModel {
  username: Function[]
  password: Function[]
}
</script>